.Text-center {
    text-align: center;
}
.button {
    width: 80px;
    height: 80px;
    font-size: x-large;
    padding: 2rem;
    border: 2px solid black;
    border-radius: 9px;
    margin: 0.1rem;
    cursor: pointer;

     /* Your existing styles */
     display: flex;
     justify-content: center;
     align-items: center;
     /* Additional styles */
     text-align: center;

}
.button:hover {
    background: grey;
    color: white;
}
.row {
    display: flex;
    justify-content: center;
    margin: .25rem 0;

}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: cadetblue;
    padding: 1rem;
}
.textBox{
    font-size: 27px;
    text-align: right;
    margin-bottom: 5px;
    border: 2px solid black;
    border-radius: 15px;
    padding-top: 50px;
    padding-bottom: 50px;
    
}
